@import "tailwindcss";

:root {
  --text: #15120d;
  --background: #f7f5f3;
  --primary: #fca311;
  --secondary: #aac9a8;
  --accent: #8cb89a;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local("Minecraft"),
    url("/fonts/Minecraft.woff") format("woff");
  font-family: "Minecraft";
}

::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: none;
}

::view-transition-old(nav-bar),
::view-transition-new(nav-bar) {
  animation-duration: 3000ms;
}

/* From Uiverse.io by Gautammsharma */
.grid-wrapper {
  position: relative;
  z-index: 0;
  background-color: #f8fafc;
  width: 100%;
  min-height: 100dvh;
}

.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image:
    linear-gradient(to right, #e2e8f0 1px, transparent 1px),
    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}

.minecraft-font {
  font-family: "Minecraft", sans-serif;
}
